<!-- <table class="table caption-top" *ngIf="users().length; else loading">
  <caption>
    List of users
  </caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users(); trackBy: userTrackBy">
      <td scope="row">
        <a [routerLink]="['/users', user.id]"> {{ user.id }}</a>
      </td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<ng-template #loading> <h1>Loading...</h1></ng-template> -->

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User List</div>

      <div class="card-body" *ngIf="users().length; else loading">
        <div class="list-group">
          <button
            type="button"
            class="list-group-item"
            *ngFor="let user of users()"
            [ngClass]="{ active: user?.name === selectedUser()?.name }"
            (click)="onSelected(user.id)"
          >
            {{ user.name }}
          </button>
        </div>
      </div>

      <!-- <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div> -->
    </div>
  </div>
  <div class="col-md-8">
    <div class="card" *ngIf="selectedUser()">
      <div class="card-header">
        {{ selectedUser()?.name }}
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-3">Id:</div>
          <div class="col-md-6">{{ selectedUser()?.id }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Name:</div>
          <div class="col-md-6">{{ selectedUser()?.name }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Username:</div>
          <div class="col-md-6">{{ selectedUser()?.username }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Email:</div>
          <div class="col-md-6">{{ selectedUser()?.email }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Phone:</div>
          <div class="col-md-6">{{ selectedUser()?.phone }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Website:</div>
          <div class="col-md-6">{{ selectedUser()?.website }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Address:</div>
          <div class="col-md-6">
            <pre>{{ selectedUser()?.address | json }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading> <h1>Loading...</h1></ng-template>
